[buildout]
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/test-4.1.x.cfg
    https://github.com/toutpt/mypythontools/raw/master/test-xml.cfg
package-name = collective.linguasitemap
package-extras = [tests]

parts+=omelette

[instance]
eggs+=Products.LinguaPlone

[omelette]
recipe=collective.recipe.omelette
eggs=${instance:eggs}
